<md-content layout-padding>
	<md-button ng-click="doQuery()">query</md-button>

	<table ng-table="tableParams" class="table" show-filter="true">
		<tr ng-repeat="articulo in $data">
			<td title="'Stock'" sortable="'Stock1_StkArti'">
				{{articulo.Stock1_StkArti || 0}}</td>
			<td title="'Codigo'" filter="{ CodInternoArti: 'text'}" sortable="'CodInternoArti'">
				{{articulo.CodInternoArti}}</td>
			<td title="'Descripcion'" filter="{ DescripcionArti: 'text'}" sortable="'DescripcionArti'">
				{{articulo.DescripcionArti}}</td>
			<td title="'NIVEL 1'" filter="{ DescrNivelInt1: 'text'}" sortable="'DescrNivelInt1'">
				{{articulo.DescrNivelInt1}}</td>
			<td title="'NIVEL 2'" filter="{ DescrNivelInt2: 'text'}" sortable="'DescrNivelInt2'">
				{{articulo.DescrNivelInt2}}</td>
			<td title="'NIVEL 3'" filter="{ DescrNivelInt3: 'text'}" sortable="'DescrNivelInt3'">
				{{articulo.DescrNivelInt3}}</td>
			<td title="'NIVEL 4'" filter="{ DescrNivelInt4: 'text'}" sortable="'DescrNivelInt4'">
				{{articulo.DescrNivelInt4}}</td>
			<td title="'NIVEL 5'" filter="{ DescrNivelInt5: 'text'}" sortable="'DescrNivelInt5'">
				{{articulo.DescrNivelInt5}}</td>

		</tr>
	</table>

</md-content>