<md-content layout-padding>
	<md-button ng-click="doQuery()">query</md-button>

	<md-input-container class="md-block">
		<textarea ng-model="query.query" rows="20" md-select-on-focus></textarea>
	</md-input-container>



	<!-- <table ng-table="tableParams" class="table" show-filter="true" id="datatable">
		<tr ng-repeat="(key, data) in $data" class="text-center">
			<td title={{key}} filter="{ Stock: 'text'}" sortable="'stock'">
				{{data}}</td>
		</tr>
	</table> -->

	<!-- <ul ng-repeat="item in qresponse">
		<li ng-repeat="(key, val) in item">
		  {{key}}: {{val}}
		</li>
	  </ul> -->

	  <div id="showData"></div>

</md-content>