<md-content layout-padding>
	<md-button ng-click="doQuery()">query</md-button>


	<md-button ng-click="changeCount()">Mostrar Todo</md-button>

	<a download="download.xls" href="#" onclick="return ngTableExcelExport.excel(this, 'datatable', 'MovimientoEntreFechasValorizado.xls');">Exportar a Excel</a>

	<table ng-table="tableParams" class="table" show-filter="true"  id="datatable">
		<tr ng-repeat="articulo in $data" class="text-center">
			
			
			<!-- <td title="'Regis_Arti'" filter="{ Regis_Arti: 'number'}" sortable="'Regis_Arti'">
					{{articulo.Regis_Arti}}</td> -->


			<td title="'Stock'" sortable="'Stock1_StkArti'">
				{{articulo.Stock1_StkArti}}</td>
			<td title="'Pendientes'" sortable="'StPedido1_StPendi'" ng-click="openPendientes(articulo, $event)">
					{{articulo.StPedido1_StPendi}}</td>
			<td title="'En camino'" sortable="'pendiente'" ng-click="openEnCamino(articulo, $event)">
					{{articulo.pendiente}}</td>
			<td title="'Codigo'" filter="{ CodInternoArti: 'text'}" sortable="'CodInternoArti'" ng-click="openDetallesArticulo(articulo, $event)">
				{{articulo.CodInternoArti}}</td>
			<td title="'Descripcion'" filter="{ DescripcionArti: 'text'}" sortable="'DescripcionArti'" ng-click="openDetallesArticulo(articulo, $event)">
				{{articulo.DescripcionArti}} </td>
			<td title="'Rubro'" filter="{ DescrNivelInt1: 'text'}" sortable="'DescrNivelInt1'">
				{{articulo.DescrNivelInt1}}</td>
			<td title="'Categoría'" filter="{ DescrNivelInt2: 'text'}" sortable="'DescrNivelInt2'">
				{{articulo.DescrNivelInt2}}</td>
			<td title="'Sub categoría'" filter="{ DescrNivelInt3: 'text'}" sortable="'DescrNivelInt3'">
				{{articulo.DescrNivelInt3}}</td>
			<td title="'Marca'" filter="{ DescrNivelInt4: 'text'}" sortable="'DescrNivelInt4'">
				{{articulo.DescrNivelInt4}}</td>
			<td title="'Talle'" filter="{ DescrNivelInt5: 'text'}" sortable="'DescrNivelInt5'">
				{{articulo.DescrNivelInt5}}</td>
		</tr>
	</table>

</md-content>