<md-dialog aria-label="pendientes">
	<form ng-cloak>
	  <md-toolbar>
		<div class="md-toolbar-tools">
		  <h2>Detalles de {{detalle.codInterno}} </h2>
		</div>
	  </md-toolbar>
  
	  <md-dialog-content>
			<h4>{{detalle.descripcion}}</h4>
			<h4>Stock: {{detalle.stock}}</h4>
			<h4>Último Costo: {{detalle.costo}} ({{detalle.fecha | date:'dd/MM/yyyy'}})</h4>
			<table ng-table="tableParams" class="table" show-filter="true">
					<tr ng-repeat="pend in $data" class="text-center">
						
						
						<td title="'En Camino'">
								{{pend.pendiente}}</td>
						<td title="'Recibido'">
							{{pend.recibido}}</td>
						<td title="'Fecha de Arribo Aproximada'" sortable="'fehcaEntrega'">
								{{pend.fehcaEntrega | date:'dd/MM/yyyy'}}</td>
						
					</tr>
				</table>
				<table ng-table="tableParams2" class="table" show-filter="true"  id="datatable">
					<tr ng-repeat="articulo in $data" class="text-center">
			
						<!-- PARA REFERENCIA -->
						<!-- <td title="'Regis_Arti'" filter="{ Regis_Arti: 'number'}" sortable="'Regis_Arti'">
							{{articulo.Regis_Arti}}</td> -->
			
						<!-- HASTA ACÁ -->
			
						<td title="'Codigo'" filter="{ codinternoarti: 'text'}" sortable="'codinternoarti'">
							{{articulo.codinternoarti}}</td>
						<td title="'Cliente'" filter="{ razonsocialcli: 'text'}" sortable="'razonsocialcli'">
							{{articulo.razonsocialcli}}</td>
						<td title="'Concepto'" filter="{ descripcion: 'text'}" sortable="'descripcion'">
							{{articulo.descripcion}}</td>
						<td title="'Precio USD'" sortable="'PrecioMda1_MovArtiD'">
							{{articulo.preciomda1_movartid | number:2}}</td>
						<td title="'Fecha'" sortable="'fecha_movartid'">
							{{articulo.fecha_movartid | date:'dd/MM/yyyy'}}</td>
						
						<td title="'Egresos'" sortable="'Egresos'">
								{{articulo.CantMov <= 0 ? articulo.cantidad1_movartid : ""}}</td>
						<td title="'Ingresos'" sortable="'Ingresos'">
								{{articulo.CantMov <= 0 ? "" : articulo.cantidad1_movartid}}</td>
			
					</tr>
					<tr class="text-center">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>EGRESOS: {{sumNeg(tableParams2.data, 'CantMov') | number:2 }}</td>
						<td>INGRESOS: {{sumPos(tableParams2.data, 'CantMov') | number:2 }}</td>
				</table>
	  </md-dialog-content>
	</form>
  </md-dialog>