<md-dialog aria-label="pendientes">
	<form ng-cloak>
	  <md-toolbar>
		<div class="md-toolbar-tools">
		  <h2>Pendientes </h2>
		</div>
	  </md-toolbar>
  
	  <md-dialog-content>
			<table ng-table="tableParams" class="table" show-filter="true">
					<tr ng-repeat="pend in $data" class="text-center">
						
						
						<td title="'Cliente'" filter="{ nombreCliente: 'text'}">
								{{pend.nombreCliente}}</td>
						<td title="'OC'" filter="{ ordCompra: 'text'}">
							{{pend.ordCompra}}</td>
						<td title="'Pendientes'">
							{{pend.cantPedida - pend.cantEntregada}}</td>
						<td title="'Descripcion'">
							{{pend.descripcion}}</td>
						<td title="'Pedido Original'">
							{{pend.cantPedida}}</td>
						<td title="'Entregado'">
							{{pend.cantEntregada}}</td>
						<td title="'Fecha de Entrega'" sortable="'fechaEntrega'">
								{{pend.fechaEntrega | date:'dd/MM/yyyy'}}</td>
						
					</tr>
				</table>
	  </md-dialog-content>
	</form>
  </md-dialog>